{% extends "layout.html" %}

{% block main %}
<main id="book">
    <div class="container">
        <div class="header">
            <p>ISBN: {{ book.isbn }}</p>
            <p>Title: {{ book.title }}</p>
            <p>Author: {{ book.author }}</p>
            <p>Year: {{ book.year }}</p>
            <p>World ratings count: {{ book.ratings_count }}</p>
            <p>Average rating: {{ book.average_rating }}</p>
        </div>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    <p>{{ comment.comment }}</p>
                </div>
                <div class="rating">
                    {{ comment.rating }}
                </div>
            {% else %}
                <p>No comments</p>
            {% endfor %}
        </div>
        {% if available_to_comment %}
            <form action="{{ url_for('book'), book_id=book.id }}" method="post">
                Text: <textarea name="comment" cols="30" rows="10" required>
                </textarea>
                <select name="rating" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button>Comment</button>
            </form>
        {% else %}
            <p>You cannot comment this book, unless you are logged in</p>
        {% endif %}
    </div>
</main>
{% endblock %}
