{% extends "layout.html" %}

{% block main %}
<main id="book">
    <div class="container">
        <div class="header">
            <p>ISBN: {{ book.isbn }}</p>
            <p>Title: {{ book.title }}</p>
            <p>Author: {{ book.author }}</p>
            <p>Year: {{ book.year }}</p>
            <p>World ratings count: {{ book.ratings_count }}</p>
            <p>Average rating: {{ book.average_rating }}</p>
        </div>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    <p>{{ comment.comment }}</p>
                    <div class="rating">
                        Rating: {{ comment.rating }}
                    </div>
                </div>
            {% else %}
                <p>No comments</p>
            {% endfor %}
        </div>
        <div class="comment_form">
            {% if available_to_comment %}
                <form action="{{ url_for('comment', book_id=book.id) }}" method="post">
                    <textarea name="comment" placeholder="Your comment" required></textarea>
                    <div class="p2">
                        <div class="rating">
                            Your rate: <select name="rating" required>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <button>Comment</button>
                    </div>
                </form>
            {% else %}
                <p>You cannot comment this book, unless you are logged in or commented before</p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
