{% extends "layout.html" %}

{% block nav_content %}
    {% if logged_in %}
        <a href="#">{{ name }}</a> |
        <a href="{{ url_for('logout') }}">Log out</a>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block main %}
<main id="index">
    <div class="container">
        <h1>WELCOME TO MY WEBSITE</h1>
        <p>This website provides a function of searching books.<br>
            If you want to write a review or rate the book,
            you should sign up.
        </p>
    </div>
</main>
{% endblock %}