<!DOCTYPE html>
<html lang="en">
<head>
    <title>My WebSite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ '/' }}">MyWebSite</a></h1>
        <div class="search">
            <form action="{{ url_for('search') }}" method="get">
                <input name ="bookInfo" type="text" placeholder="Type ISBN number, title or author of book">
                <button type="submit">Search</button>
            </form>
        </div>
        <nav>
            {% block nav_content %}
            <a href="{{ '/login' }}">Log in</a> |
            <a href="{{ '/signup' }}">Sign up</a>
            {% endblock %}
        </nav>
    </header>

    {% block main %}
    {% endblock %}

    <footer>

    </footer>
</body>
</html>