{% extends "layout.html" %}

{% block main %}
<main id="search">
    <div class="container">
        {% for book in books %}
            <div class="book">
                <p>Title: {{ book.title }}</p>
                <p>Author: {{ book.author }}</p>
                <p>Year: {{ book.year }}</p>
                <p>World ratings count: {{ book.ratings_count }}</p>
                <p>Average rating: {{ book.average_rating }}</p>
                <a href="{{ url_for('open_book', book_id = book.id) }}"> <button>See comments</button> </a>
            </div>
        {% else %}
            <h1>NO SUCH BOOK</h1>
        {% endfor %}
    </div>
</main>
{% endblock %}
